.userprofile__topnav {
    display: flex;
    margin: 20px;
}

.userprofile__community--link {
    text-decoration: none;
    margin: 10px;
}

.userprofile__editprofile--link {
    text-decoration: none;
    margin: 10px;
}

.userprofile__middlediv {
    display: flex;
}

.userprofile__userinfo {
    margin-left: 20%;
    margin-right: 20%;
}

.userprofile__name {
    font-size: 35px;
}

.userprofile__bio {
    font-size: 20px;
}

.userprofile__createarticle {
    margin-right: 20%;
}

.userprofile__btn--create {
    margin-left: 50px;
}

.userprofile__articlescontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.userprofile__article {
    text-align: center;
    width: 200px;
    height: 150px;
    border: 1px dashed black;
    margin: 20px;
}

.userprofile__article--title {
    font-size: 25px;
}

.userprofile__article--author {

}

.article {
    margin-top: 50px;
}

.header {
    border-bottom: 1px solid black;
}

.header__h1 {
    margin: 30px;
    font-size: 50px;
}

.footer {
    position: absolute; 
    left: 0 ;
    right: 0; 
    bottom: 0;
}

.footer__ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer__li {
    margin: 15px;
}

.homepage {
    font-size: 20px;
}

.homepage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 20px 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.homepage__logo {
    float: left;
    font-size: 50px;
}

.homepage__login {
    float: right;
    line-height: 30px;
}

.homepage__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px 20px 80px;
    padding-top: 40px;

}

.homepage__description {
    float: left;
    text-align: center;
    font-size: 30px;
}

.homepage__signup-form {
    float: right;
    line-height: 30px;
}

.allarticles__articles--div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute; 
}

.allarticles__article {
    text-align: center;
    width: 200px;
    height: 150px;
    border: 1px dashed black;
    margin: 20px;
}

.allarticles__article--title {
    font-size: 25px;
}

.allarticles__article--author {
    
}