.article {
    text-align: center;
    margin-top: 50px;
}

.header {
    border-bottom: 1px solid black;
}

.header__h1 {
    margin: 30px;
    font-size: 50px;
}

.footer {
    position: absolute; 
    left: 0 ;
    right: 0; 
    bottom: 0;
}

.footer__ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer__li {
    margin: 15px;
}